
@import url( "style3.css");
@import url( "card.css");
@import url( "fonts.css");



html{
    width: 100%;
    margin:0;
}

body{
    display: flex;
   
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    }
    


.container{
    width: 100%;
    border: 3px;
    display: grid;
    gap: 10px;
    grid-template-columns: 100px 500px 500px;
    grid-template-rows: 100px 600px 50px;
    grid-template-areas: 
    "hd hd hd hd "
    "sd main main main "
    "ft ft ft ft";

    justify-content: center;
    margin:auto;}



    

.box{
    display: flex;
    border: 2px solid red;}
   



    


#one{
    grid-area:hd ;
    display: flex;
    justify-content: center;
    background-color: darkgray;
}
#two{
    grid-area:sd ;
    background-color: darkgray;
   padding: 2rem;
 
}
#three{grid-area:main;
background-color: antiquewhite;
 }

#four{grid-area: ft;

background-color: darkgray}

.grid-container{
    display: grid;
    grid-template-rows: 100px auto;
    border: 5px dashed salmon;
    height: 100%;

}

.grid-item{

    background-color: aquamarine;
    margin: 3px;
    text-align: center;
}


@media(max-width:320px){
    .container{
        display:flex;
        flex-direction: column;}
                                        
        #two{display: none; } 

        .box{
            display: flex;
            border: 2px solid red;
            flex-direction: column;}

    .grid-container{
        display: flex;
        flex-direction: column;
    }
    .grid-item{
        display: flex;
        flex-direction: column;
    }
    lorem{
        font-size: 20px;
    }


    }
    #lorem{
        color:red;
        font-size: 45px;}

    #lore{ 
        color: red;
        text-align: center;

    }
